<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zhonglongchang</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowGoodsClServlet</display-name>
    <servlet-name>ShowGoodsClServlet</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.ShowGoodsClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsClServlet</servlet-name>
    <url-pattern>/ShowGoodsClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsPageServlet</display-name>
    <servlet-name>ShowGoodsPageServlet</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.ShowGoodsPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsPageServlet</servlet-name>
    <url-pattern>/ShowGoodsPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingClServlet</display-name>
    <servlet-name>ShoppingClServlet</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.ShoppingClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingClServlet</servlet-name>
    <url-pattern>/ShoppingClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelShopServlet</display-name>
    <servlet-name>DelShopServlet</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.DelShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelShopServlet</servlet-name>
    <url-pattern>/DelShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCl2</display-name>
    <servlet-name>ShoppingCl2</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.ShoppingCl2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCl2</servlet-name>
    <url-pattern>/ShoppingCl2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCl</display-name>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.LoginCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderClServlet</display-name>
    <servlet-name>OrderClServlet</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.OrderClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderClServlet</servlet-name>
    <url-pattern>/OrderClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>com.zhonglongchang.servlet.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
</web-app>